<div class="main-content">
  <!-- Header -->
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 400px; background-size: 100%; background-position: center top;" [style.background-image]="'url(' + user.imageUrls + ')'">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid  align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">{{user.name}}<<i>{{user.username}}</i>> </h1>
          <p class="text-white mt-0 mb-1">Đã đăng {{user.posts==null?0:user.posts}} bài viết, {{user.linkdocs==null?0:user.linkdocs}} tài liệu</p>
          <p class="text-white mt-0 mb-5">và đã đóng góp {{user.comments==null?0:user.comments}} bình luận</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center mt-5">
            <div class="col-lg-12">

            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col-12 pl-5 p-2 mb-3" *ngIf="linkDocs.length == 0" style="font-style: italic">
                Chưa có tài liệu nào.
              </div>
            </div>
            <!-- Card Body -->

            <div class="card-body" *ngIf="linkDocs.length >0">
              <h1 style="text-align: center">
                Tài liệu
              </h1>
              <table class="table" style="color: black !important;">
                <thead>
                <tr>
                  <td scope="col"><b>Đường dẫn</b></td>
                  <td style="width: 50px"></td>
                  <td scope="col"><b>Thể loại</b></td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let linkDoc of linkDocs" style="border-bottom: 1px solid">
                  <td scope="row"><a href="{{linkDoc.link}}"  href="" class="pl-5"><p class="linkdoc" >{{linkDoc.link}}</p></a></td>
<!--                  <td scope="row"><i> {{linkDoc.createAt| date: "dd/MM/yyyy"}}</i></td>-->
                  <td></td>
                  <td scope="row"><a href=""><p>{{linkDoc.category.name}}</p></a></td>
<!--                  <th scope="row">{{linkDoc.likes}}</th>-->
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center mt-5">
            <div class="col-lg-12">

            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col-12 pl-5 p-2 mb-3" *ngIf="posts.length == 0" style="font-style: italic">
                Chưa có tài liệu nào.
              </div>
            </div>
            <h1 style="text-align: center; margin-top: 20px" *ngIf="posts.length > 0" >Bài viết </h1>
            <div class="row"  *ngIf="posts.length > 0" >

              <div class="col-xl-6" *ngFor="let post of posts">
                <!--    <div class="card shadow mb-4" *ngIf="post.status !=0;">-->
                <div class="card shadow mb-4">
                  <div class="card-header py-3" style="color: black !important;">
                    <a href="/users/posts/{{post.id}}"><span class="m-0 font-weight-bold">{{post.content}}</span></a>

                    <h4 class="small">
                      <i style="color: #a7a2a2">{{post.createAt | date : 'dd/MM/yyyy'}}</i>
                      -
                      <a style="color: #719fb0">{{post.user.username}}</a>

                      <a class="float-right" href="/users/link-docs/{{post.category.id}}"
                         style="color: #f08a5d;">{{post.category.name}}</a>

                    </h4>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
