<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
<div class="main-content">
  <!-- Header -->
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
       style="min-height: 600px; background-size: 100%; background-position: center top;"
       [style.background-image]="'url(' + user.imageUrls + ')'">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid  align-items-center" style="margin-top: -150px;">
      <div class="row">
        <div class="col-lg-12 col-md-10">
          <h2 class="display-2 text-white">{{user.name}}<<i>{{user.username}}</i>> </h2>
          <p class="text-white mt-0 mb-1">Đã đăng {{user.posts == null ? 0 : user.posts}} bài
            viết, {{user.linkdocs == null ? 0 : user.linkdocs}} tài liệu</p>
          <p class="text-white mt-0 mb-1">và đã đóng góp {{user.comments == null ? 0 : user.comments}} bình luận</p>
          <p class="text-white mt-0 mb-5">Thông tin liên hệ: {{user.phoneNumber}} - {{user.email}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7" style="margin-top: -300px !important;">
    <div class="row">
      <div class="col-xl-7 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center mt-5">
            <div class="col-lg-12">

            </div>
          </div>
          <div class="card-body pt-md-2">
            <div class="row">
              <div class="col-12 mb-3" *ngIf="linkDocs.length == 0" style="font-style: italic">
                Chưa có tài liệu nào.
              </div>
            </div>
            <!-- Card Body -->

            <div class="card-body" *ngIf="linkDocs.length >0">
              <h1 style="text-align: center">
                Tài liệu
              </h1>
              <table class="table" style="color: black !important;">
                <thead>
                <tr>
                  <td scope="col"><b>Đường dẫn</b></td>
                  <td scope="col"><b>Thể loại</b></td>
                  <td scope="col"><b>Phạm vi</b></td>
                  <td scope="col"><b>Mô tả</b></td>
                  <td scope="col"></td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let linkDoc of linkDocs">
                  <td scope="row" *ngIf="isLink(linkDoc)"><a href="{{linkDoc.link}}"><p
                    class="linkdoc">{{linkDoc.link}}</p>
                  </a></td>
                  <td scope="row" *ngIf="!isLink(linkDoc) && isTrongTruong(linkDoc) && !isITUTC(currentUser.status,linkDoc)"><p
                    class="linkdoc">(ItUtcer có thể tải){{linkDoc.link}}</p>
                  </td>
                  <td scope="row" *ngIf="isITUTC(currentUser.status, linkDoc) && !isLink(linkDoc)"><a href="{{linkDoc.linkFile}}">
                    <div class="linkdoc"><i class="fa fa-download"></i>   {{linkDoc.link}}</div>
                  </a></td>
                  <td scope="row" *ngIf="!isITUTC(currentUser.status, linkDoc) && !isLink(linkDoc) && !isTrongTruong(linkDoc)"><a href="{{linkDoc.linkFile}}">
                    <div class="linkdoc"><i class="fa fa-download"></i>   {{linkDoc.link}}</div>
                  </a></td>
                  <td><a [routerLink]="['/users/link-docs', linkDoc.category.id]">
                    <p class="linkdoc">{{linkDoc.category.name}}</p>
                  </a></td>
                  <td>
                    <p class="linkdoc">{{linkDoc.des}}</p>
                  </td>
                  <td>
                    <p class="linkdoc">{{linkDoc.description}}</p>
                  </td>
                  <td>
                    <img *ngIf="linkDoc.user.id == currentUser.id"
                         src="https://icons.iconarchive.com/icons/iconsmind/outline/16/Pen-3-icon.png" alt=""
                         style="cursor: pointer" (click)="showUpdatePost(content1)">
                    <ng-template #content1 let-modal id="test2">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Edit Post</h4>
                          <button type="button" class="close" (click)="modalService.dismissAll()">&times;</button>

                        </div>
                        <div class="modal-body">
                          <input class="form-control ml-1 shadow-none " id="idLinkDoc"
                                 [value]="linkDoc.id" style="visibility: hidden">

                          <form class="user" [formGroup]="editLinkDocForm" (ngSubmit)="saveLinkDoc()">
                            <div class="form-group row">
                              <div class="col-sm-4 mb-3 mb-sm-0 pt-2">
                                <span>Thể loại </span>
                              </div>
                              <div class="col-sm-8 mb-3 mb-sm-0">
                                <select class="custom-select custom-select-sm"
                                        formControlName="category">
                                  <option *ngFor="let category of categories"
                                          [value]="category.id">{{category.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-4 mb-3 mb-sm-0 pt-2">
                                <span>Phạm vi</span>
                              </div>
                              <div class="col-sm-8 mb-3 mb-sm-0" (change)="openSelect1($event)" id="des">
                                <select class="custom-select custom-select-sm"
                                        formControlName="des">
                                  <option value="Trong trường">Trong trường</option>
                                  <option value="Mở rộng">Mở rộng</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group row" id="truong1" style="display: none">
                              <div class="col-sm-4 mb-3 mb-sm-0 pt-2">
                                <span>Kỳ học</span>
                              </div>
                              <div class="col-sm-8 mb-3 mb-sm-0">
                                <select class="custom-select custom-select-sm"
                                        formControlName="optional">
                                  <option value="Kì 1">Kì 1 năm 1</option>
                                  <option value="Kì 2">Kì 2 năm 1</option>
                                  <option value="Kì 3">Kì 1 năm 2</option>
                                  <option value="Kì 4">Kì 2 năm 2</option>
                                  <option value="Kì 5">Kì 1 năm 3</option>
                                  <option value="Kì 6">Kì 2 năm 3</option>
                                  <option value="Kì 7">Kì 1 năm 4</option>
                                  <option value="Kì 8">Kì 2 năm 4</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control form-control-user"
                                     placeholder="Đường dẫn" value="{{linkDoc.link}}"
                                     formControlName="link">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control form-control-user"
                                     placeholder="Mô tả" value="{{linkDoc.description}}"
                                     formControlName="description">
                            </div>
                            <button type="submit" class="btn btn-default">Sửa
                            </button>

                            <button type="button" class="btn btn-default" (click)="deleteLinkDoc(linkDoc.id)">Xoá
                            </button>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <div>

                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center mt-5">
            <div class="col-lg-12">

            </div>
          </div>
          <div class="card-body pt-0 pt-md-2">
            <div class="row">
              <div class="col-12 pl-5 p-2 mb-3" *ngIf="posts.length == 0" style="font-style: italic">
                Chưa có bài đăng nào.
              </div>
            </div>
            <h1 style="text-align: center; margin-top: 10px" *ngIf="posts.length > 0">Bài viết </h1>
            <div class="row" *ngIf="posts.length > 0">

              <div class="col-6" *ngFor="let post of posts">
                <!--    <div class="card shadow mb-4" *ngIf="post.status !=0;">-->
                <div class="card shadow mb-4">
                  <div class="card-header py-3" style="color: black !important;">
                    <a [routerLink]="['/users/posts', post.id]"><span
                      class="m-0 font-weight-bold">{{post.content}}</span></a>

                    <img *ngIf="post.user.id == currentUser.id"
                         src="https://icons.iconarchive.com/icons/iconsmind/outline/16/Pen-3-icon.png" alt=""
                         class="m-1"
                         style="cursor: pointer" (click)="showUpdatePost(content1)">
                    <h4 class="small">
                      <i style="font-size:10px;color: #a7a2a2">{{post.createAt | date : 'dd/MM/yyyy'}}</i>

                      <a class="float-right" [routerLink]="['/users/link-doc', post.category.id]"
                         style="font-size:10px;color: #f08a5d;">{{post.category.name}}</a>

                    </h4>

                  </div>
                  <div class="card-body">
                    <div>

                      <div class="mb-2 float-left">
                        Có {{post.listComment.length}} câu trả lời.
                      </div>
                      <div class="mb-2 float-right">
              <span class="ml-1" (click)="showListUsersLikePost(content,post.id)" style="cursor: help">{{post.likes}}
                Likes</span>
                        <div class="modal fade" id="myModalUsersLike{{post.id}}" role="dialog"
                             style="margin-top: 300px; ">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content" style="-webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.25);">
                              <div class="modal-header">
                                <h4 class="modal-title">Danh sách người đã thích</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                              </div>
                              <div class="modal-body">
                      <span *ngIf="post.likes > 0">
                        {{listLikePost[0].user.name}}
                        <span *ngIf="post.likes >=2">, {{listLikePost[1].user.name}}<span
                          *ngIf="post.likes >2">và {{post.likes - 2}}
                          người</span>
                        </span>
                        đã thích bài viết.
                      </span>

                                <div *ngIf="post.likes == 0">Chưa ai thích bài viết này.</div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <ng-template #content let-modal id="test">
                          <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                <span *ngIf="post.likes > 0">
                      {{listLikePost[0].user.name}}
                  <span *ngIf="post.likes >=2">, {{listLikePost[1].user.name}} <span
                    *ngIf="post.likes >2">và {{post.likes - 2}}
                    người</span>
                      </span>
                      đã thích bài viết.
                    </span>

                            <div *ngIf="post.likes == 0">Chưa ai thích bài viết này.</div>
                          </div>
                        </ng-template>


                        <!-- Modal -->

                        <ng-template #content1 let-modal id="test1">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Edit Post</h4>
                              <button type="button" class="close" (click)="modalService.dismissAll()">&times;</button>

                            </div>
                            <div class="modal-body">
                              <input class="form-control ml-1 shadow-none "
                                     [value]="post.id"
                                     id="editContent" style="visibility: hidden">

                              <form class="user" [formGroup]="createPostForm" (ngSubmit)="savePost()">
                                <div class="form-group row">
                                  <div class="col-sm-4 mb-3 mb-sm-0 pt-2">
                                    <span>Thể loại </span>
                                  </div>
                                  <div class="col-sm-8 mb-3 mb-sm-0">
                                    <select class="custom-select custom-select-sm"
                                            formControlName="category">
                                      <option *ngFor="let category of categories"
                                              [value]="category.id">{{category.name}}</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-sm-4 mb-3 mb-sm-0 pt-2">
                                    <span>Phạm vi</span>
                                  </div>
                                  <div class="col-sm-8 mb-3 mb-sm-0" (change)="openSelect($event)" id="de1s">
                                    <select class="custom-select custom-select-sm"
                                            formControlName="description">
                                      <option value="Trong trường">Trong trường</option>
                                      <option value="Mở rộng">Mở rộng</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group row" id="truong" style="display: none">
                                  <div class="col-sm-4 mb-3 mb-sm-0 pt-2">
                                    <span>Kỳ học</span>
                                  </div>
                                  <div class="col-sm-8 mb-3 mb-sm-0">
                                    <select class="custom-select custom-select-sm"
                                            formControlName="optional">
                                      <option value="Kì 1">Kì 1 năm 1</option>
                                      <option value="Kì 2">Kì 2 năm 1</option>
                                      <option value="Kì 3">Kì 1 năm 2</option>
                                      <option value="Kì 4">Kì 2 năm 2</option>
                                      <option value="Kì 5">Kì 1 năm 3</option>
                                      <option value="Kì 6">Kì 2 năm 3</option>
                                      <option value="Kì 7">Kì 1 năm 4</option>
                                      <option value="Kì 8">Kì 2 năm 4</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                                         placeholder="Nội dung bài viết" value="{{post.content}}"
                                         formControlName="content">
                                </div>
                                <button type="submit" class="btn btn-default">Sửa
                                </button>

                                <button type="button" class="btn btn-default" (click)="deletePost(post.id)">Xoá</button>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <div>

                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </div>
                      <!--            end modal edit-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
