<link rel="stylesheet" href="../assets/vendor/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="../assets/css/sb-admin-2.min.css">

<div class="row ml-2 mr-2">
  <div class="col-6" *ngFor="let post of listCurrentUserLikePost">
    <div class="card shadow mb-4">
      <div class="card-header py-3" style="color: black !important;">
        <a href="/users/posts/{{post.post.id}}"><h6 class="m-0 font-weight-bold">{{post.post.content}}</h6></a>
        <h4 class="small">
          <i style="color: #a7a2a2">{{post.post.createAt | date : 'dd/MM/yyyy'}}</i>
          -
          <a style="color: #719fb0">{{post.post.user.username}}</a>

          <a class="float-right" href="/users/link-docs/{{post.post.category.id}}"
             style="color: #f08a5d;">{{post.post.category.name}}</a>
        </h4>
      </div>
      <div class="card-body">
        <div>

          <div class="mb-2 float-left">
            Có {{post.post.listComment.length}} câu trả lời.
          </div>
          <div class="mb-2 float-right">
            <a *ngIf="!post.is_liked" (click)="likePost(post.post.id)" class="fa fa-thumbs-o-up" style="cursor: n-resize"><img
              src="https://icons.iconarchive.com/icons/icons8/ios7/24/Gaming-Hearts-icon.png" alt=""></a>
            <a *ngIf="post.is_liked" (click)="unlikePost(post.post.id)" class="fa fa-thumbs-o-down" style="cursor: s-resize"><img
              src="https://icons.iconarchive.com/icons/designbolts/free-valentine-heart/24/Heart-Doodle-icon.png"
              alt=""></a>
            <span class="ml-1" (click)="showListUsersLikePost(post.post.id)" style="cursor: help">{{post.post.likes}}
              Likes</span>
            <div class="modal fade" id="myModalUsersLike{{post.post.id}}" role="dialog" style="margin-top: 300px; ">
              <div class="modal-dialog modal-lg">
                <div class="modal-content" style="-webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.25);">
                  <div class="modal-header">
                    <h4 class="modal-title">Danh sách người đã thích</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                  </div>
                  <div class="modal-body">
                    <span *ngIf="post.post.likes > 0">
                      {{listLikePost[0].user.name}}
                      <span *ngIf="post.post.likes >=2">, {{listLikePost[1].user.name}}<span *ngIf="post.post.likes >2">và {{post.post.likes - 2}}
                        người</span>
                      </span>
                      đã thích bài viết.
                    </span>

                    <div *ngIf="post.post.likes == 0">Chưa ai thích bài viết này.</div>
                  </div>
                </div>
              </div>
            </div>
            <!--            start modal edit-->
            <!--            <div *ngIf="post.post.user.id == user.id">-->
            <!--              <button type="button" class="btn btn-light" data-toggle="modal"-->
            <!--                      (click)="showUpdatePost(post.post.id)">edit-->
            <!--              </button>-->


            <!--              &lt;!&ndash; Modal &ndash;&gt;-->
            <!--              <div class="modal fade" id="myModal{{post.post.id}}" role="dialog">-->
            <!--                <div class="modal-dialog modal-lg">-->
            <!--                  <div class="modal-content">-->
            <!--                    <div class="modal-header">-->
            <!--                      <h4 class="modal-title">Edit Post</h4>-->
            <!--                      <button type="button" class="close" data-dismiss="modal">&times;</button>-->

            <!--                    </div>-->
            <!--                    <div class="modal-body">-->
            <!--                      <textarea class="form-control ml-1 shadow-none textarea"-->
            <!--                                [value]="post.post.content" style="height: 70px"></textarea>-->
            <!--                      <div class="row">-->

            <!--                        <div class="col col-3 mt-2 text-left">-->

            <!--                        </div>-->
            <!--                        <div class="col col-4 mt-2 text-right">-->
            <!--                          <div class="form-group">-->
            <!--                          </div>-->

            <!--                        </div>-->
            <!--                        <div class="col col-8 mt-2 text-center">-->
            <!--                        </div>-->
            <!--                      </div>-->
            <!--                    </div>-->
            <!--                    <div class="modal-footer">-->
            <!--                      <div>-->
            <!--                        <button type="button" class="btn btn-default" (click)="updatePost(post.post.id)">Update-->
            <!--                        </button>-->
            <!--                      </div>-->
            <!--                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--                    </div>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </div>-->
          </div>
          <!--            end modal edit-->
        </div>
      </div>
    </div>
  </div>
</div>
