


<div class="row">
  <div class="col-12">

    <!-- Illustrations -->
    <div class="card shadow mb-4 mr-2">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <h4 class="pl-3 pt-3">{{post.content}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-7 ">
              <a class="pl-3" style="color: #719fb0">{{post.user.username}}</a>
              <i> - <span style="color: #a7a2a2">{{post.createAt | date : 'dd/MM/yyyy'}}</span></i>
            </div>
            <div class="col-4">
              <a class="float-right" href="/users/link-docs/{{post.category.id}}"
                 style="color: #f08a5d;">{{post.category.name}}</a>
            </div>
          </div>
        </div>
        <div class="col-12" >
          <div class="p-3">
            <div class="show-detail p-3" [innerHTML]="post.detail" style="overflow: hidden; border: 1px solid #d5d4d2; border-radius: 5px"></div>
          </div>
        </div>

        <div class="col-12 p-2">
          <div *ngFor="let cmt of listCurrentUserLikeComment"
               style="border-radius: 2px;border: 1px solid skyblue; background: #82ffdc" class="row m-3 p-3">
            <div class="col-6">
              <a class="mr-1" [routerLink]="['/users/user-info', cmt.user.id]">{{cmt.user.username}}</a>

              <i class="ml-1 small" style="color: #a7a2a2">{{cmt.comment.createAt | date : 'dd/MM/yyyy'}}</i>
            </div>
            <h5 class="col-11">{{cmt.comment.content}}</h5>
            <div class="col-1 float-right">
              <a *ngIf="!cmt.is_liked" (click)="likeCmt(cmt.comment)" class="fa fa-thumbs-o-up"
                 style="cursor: n-resize"><img
                src="https://icons.iconarchive.com/icons/icons8/ios7/24/Gaming-Hearts-icon.png" alt=""></a>
              <a *ngIf="cmt.is_liked" (click)="unlikeCmt(cmt.comment)" class="fa fa-thumbs-o-down"
                 style="cursor: s-resize"><img
                src="https://icons.iconarchive.com/icons/designbolts/free-valentine-heart/24/Heart-Doodle-icon.png"
                alt=""></a>
              <span class="ml-1" style="cursor: help">{{cmt.comment.likes}}
                Likes</span>
            </div>
          </div>
          <form [formGroup]="formGroup" (ngSubmit)="addComment(post.id)" class="form-group m-3 row">
            <input type="textarea" class="form-control ml-1 mb-2 shadow-none textarea" formControlName="content">
            <button class="btn btn-primary btn-sm shadow-none ml-2" type="submit">Comment</button>
            <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <app-top-posts></app-top-posts>
      </div>

      <div class="col-6">
        <app-categories></app-categories>
      </div>
    </div>
  </div>

</div>
