<link rel="stylesheet" href="../assets/vendor/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="../assets/css/sb-admin-2.min.css">


<!-- Begin Page Content -->

  <!-- Page Heading -->

  <div class="row">
    <div class="col-8">
      <app-list-post></app-list-post>
      <app-top-posts></app-top-posts>
    </div>
    <div class="col-4">
      <app-link-tai-lieu></app-link-tai-lieu>
      <div class="card shadow mb-4" style="background: url('https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?size=626&ext=jpg')">
        <!-- Card Body -->
        <div class="card-body">

          <h5 class="mb-2 font-weight-bold">Tài liệu CNTT</h5>
          <div class="row">
            <div class="col-6 mb-2" *ngFor="let category of categories">
              <a href="/users/link-docs/{{category.id}}" class="text-primary"><img src="https://media.giphy.com/media/WV9R2niZMMbcE5a9um/giphy.gif" alt="" style="width: 15%">{{category.name}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4" style="background: url('https://media.giphy.com/media/t7Qb8655Z1VfBGr5XB/giphy.gif'); color: white">

        <div class="card-body">
          <h5 class="mb-2 font-weight-bold">Thông báo</h5>
          <div class="text-center">
          </div>
          <div class="row text-center">
            <div class="col-12">
              <p>Đào Như Anh</p>
              <p>CNTT4-K58 UTC</p>
              <p>anh.dao@codegym.vn</p>
              <p>Giảng viên tại Codegym</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="../assets/js/sb-admin-2.min.js"></script>

<script src="../assets/vendor/chart.js/Chart.min.js"></script>
<script src="../assets/js/demo/chart-area-demo.js"></script>
<script src="../assets/js/demo/chart-pie-demo.js"></script>
