<!--<link rel="stylesheet" href="../../../../assets/vendor/fontawesome-free/css/all.min.css">-->
<!--<link rel="stylesheet" href="../../../../assets/css/sb-admin-2.min.css">-->

<div class="card shadow mb-4"
     style="background: url('https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?size=626&ext=jpg')">
  <!-- Card Header - Dropdown -->
  <!-- Card Body -->
  <div class="card-body">

    <h5 class="mb-2 font-weight-bold">Tài liệu học tập CNTT-UTC</h5>
    <div class="">
      <table class="table table-hover" style="color: black !important;">
        <thead>
        <tr>
          <th scope="col">Năm</th>
          <th scope="col">Đường dẫn</th>
          <th scope="col">Tác giả</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1, 2</th>
          <td><a href="https://drive.google.com/drive/folders/1e-7vmhcuBRup2mgVV1f_5UWo1DRoSaUi?usp=sharing"
                 target="_blank">Tài liệu năm 1, 2</a></td>
          <td>NAL</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td><a href="https://drive.google.com/drive/folders/17ul5fm_aOBx052iAUvHiHd83HW3kyLk_?usp=sharing"
                 target="_blank">Tài liệu năm 3</a></td>
          <td>NAL</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td><a href="https://drive.google.com/drive/folders/1JW0_SfIhNFAh6TwZtCwzQ4wMx5lhMeYA?usp=sharing"
                 target="_blank">Tài liệu năm 4</a></td>
          <td>NAL</td>
        </tr>
        </tbody>
      </table>

      <a [routerLink]="['/users/all-link-doc']" >Xem thêm...</a>
    </div>
  </div>
</div>
