<link rel="stylesheet" href="../assets/vendor/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="../assets/css/sb-admin-2.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
<div class="row ml-2 mr-2 mt-5">
  <div class="card shadow mb-4 p-3" style="width: 100%;">
    <h2 style="text-align: center">Danh sách người dùng</h2>
    <table class="table table-striped">

      <thead>
      <tr style="font-weight: bold; color: black">
        <th scope="col">Id</th>
        <th scope="col">Tài khoản</th>
        <th scope="col">Tên</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Email</th>
        <th scope="col">Số Comment</th>
        <th scope="col">Số bài viết</th>
        <th scope="col">Số đường dẫn</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of pageOfItems">
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.email}}</td>
        <td>{{user.comments}}</td>
        <td>{{user.posts}}</td>
        <td>{{user.linkdocs}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 align-content-center">
    <jw-pagination [items]="items" [pageSize]="7" (changePage)="onChangePage($event)"></jw-pagination>
  </div>
</div>
