
<div class="container-fluid">

  <div class="row mt-5">


    <div *ngFor="let b of blogs" class="col-lg-6">

      <!-- Dropdown Card Example -->
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">{{b.title}}</h6>
          <h6 class="m-0 font-weight-bold text-primary" *ngIf="b.user.id == userId" routerLink="/users/edit-blog/{{b.id}}">Sửa</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          {{b.content}}
        </div>
      </div>

    </div>

  </div>
</div>
