<!-- Sidebar -->
<!--<link rel="stylesheet" href="../../../../assets/vendor/fontawesome-free/css/all.min.css">-->
<!--<link rel="stylesheet" href="../../../../assets/css/sb-admin-2.min.css">-->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="users/home">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fab fa-artstation"></i>
    </div>
    <div class="sidebar-brand-text mx-3">NAL <sup><img src="" alt="">H</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/admin/new-noti']" >
      <i class="fa fa-plus"></i>
      <span>Thêm thông báo</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/admin/users']">
      <i class="fab fa-buffer"></i>
      <span>Quản lý người dùng</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/admin/posts']">
      <i class="fab fa-buffer"></i>
      <span>Quản lý bài viết</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/admin/linkdocs']">
      <i class="fab fa-buffer"></i>
      <span>Quản lý đường dẫn tài liệu</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/admin/order-seminars']">
      <i class="fab fa-buffer"></i>
      <span>Đơn đăng ký học hỗ trợ</span></a>
  </li>
</ul>
<!-- End of Sidebar -->
